.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: #f3f3f300;
  max-width: 600;
  min-width: 100;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff00;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-header {
  margin-bottom: 40px;
}

.login-title {
  font-size: 24px;
  margin-top: 20px;
  color: #800080;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #800080;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-link {
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #800080;
}

.register-button {
  color: white;
  background:#3f006d;
}
  
.register-button:hover {
  color: white;
  background:#800080;
}

.create-account-link {
  margin-top: 20px;
  text-decoration: none;
  color: #800080;
}

.login-button {
  color: rgb(7, 7, 7);
}
  
.login-button:hover {
  color: white;
  background:#800080;
}