.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #f3f3f300;
  }
  
  .login-header {
    margin-bottom: 40px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .login-title {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-link {
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #4caf50;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-account-link {
    margin-top: 20px;
    text-decoration: none;
    color: #2196f3;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #45a049;
  }
  
  .create-account-link:hover {
    text-decoration: underline;
  }
  