.error-message {
    background:rgb(218, 0, 0);
    color: #ffffff;
}
.erro-autenticacao {
    background:rgb(218, 0, 0);
    color: #ffffff;
}
.salvar {
    background:rgb(14, 70, 0);
    color: #ffffff;
}